# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environments
.venv/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/

# Distribution
*.tar.gz

.karva_cache/

# Documentation
site/
