name: Continuous Integration

on:
  push:
    branches:
      - main

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:
  determine_changes:
    name: "determine changes"

    runs-on: ubuntu-latest

    outputs:
      code: ${{ steps.check_code.outputs.changed }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Determine merge base
        id: merge_base
        env:
          BASE_REF: ${{ github.event.pull_request.base.ref || 'main' }}
        run: |
          sha=$(git merge-base HEAD "origin/${BASE_REF}")
          echo "sha=${sha}" >> "$GITHUB_OUTPUT"

      - name: Check if there was any code related change
        id: check_code
        env:
          MERGE_BASE: ${{ steps.merge_base.outputs.sha }}
        run: |
          if git diff --quiet "${MERGE_BASE}...HEAD" -- \
            . \
            ':!docs/' \
            ':!.markdownlint.yaml' \
            ':!.pre-commit-config.yaml' \
            ':!CHANGELOG.md' \
            ':!CODE_OF_CONDUCT.md' \
            ':!CONTRIBUTING.md' \
            ':!LICENSE' \
            ':!README.md' \
            ':!zensical.toml' \
          ; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

  pre-commit:
    name: "pre commit"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2

      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1.1.1

  test:
    name: "test (Python ${{ matrix.python-version }})"

    runs-on: ubuntu-latest

    needs: determine_changes
    if: ${{ (needs.determine_changes.outputs.code == 'true' || github.ref == 'refs/heads/main') }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2
        with:
          python-version: ${{ matrix.python-version }}

      - run: uv sync --all-groups

      - run: uv run karva test
